In [2]:
import pandas as pd
from matplotlib import pyplot as plt
training = pd.read_csv("training.csv");
training

,ID,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8_1,Q8_2,...,Q17,Q18,Q19,Latitude,Longitude,mobile_money,savings,borrowing,insurance,mobile_money_classification
0,5086,98,2,3,1,1,2,2,0,0,...,-1,4,4,-4.460442,29.811396,0,0,0,0,0
1,1258,40,1,1,3,5,1,1,1,0,...,4,1,4,-6.176438,39.244871,1,1,1,0,3
2,331,18,2,4,6,3,2,1,0,0,...,-1,1,1,-6.825702,37.652798,1,0,0,0,2
3,6729,50,1,1,3,1,1,1,0,0,...,-1,1,4,-3.372049,35.808307,1,0,1,0,3
4,8671,34,1,1,1,1,2,1,0,1,...,-1,1,4,-7.179645,31.039095,1,1,0,1,3
5,5462,35,1,1,3,3,2,1,0,1,...,-1,1,1,-6.362331,37.137741,0,0,1,0,1
6,4886,31,2,1,3,1,2,1,0,1,...,-1,1,2,-8.089257,35.836415,1,1,1,1,3
7,621,23,2,4,5,5,2,1,0,0,...,1,2,2,-8.916028,33.433904,1,1,0,0,3
8,8302,56,2,3,3,3,2,2,0,1,...,-1,1,1,-3.972247,32.649951,0,1,1,0,1
9,4704,37,2,1,3,3,2,1,0,1,...,-1,1,4,-8.033973,35.769416,1,0,0,1,3
10,2758,18,2,4,5,5,2,1,0,0,...,-1,1,1,-3.619491,33.813974,1,1,1,0,3
11,2536,29,2,1,6,1,2,1,0,0,...,1,1,4,-8.847496,34.823587,1,0,0,0,2
12,8863,28,1,1,3,3,2,2,0,1,...,-1,1,4,-10.743503,34.733084,0,1,1,0,1
13,5469,17,2,1,2,5,2,2,0,1,...,-1,1,4,-8.295917,31.509034,0,0,0,0,0
14,3543,22,2,4,6,5,2,1,0,0,...,-1,1,1,-6.169053,39.198489,1,0,0,0,2
15,6554,53,2,1,3,1,2,2,0,1,...,-1,1,4,-1.338745,30.900120,0,0,0,0,0
16,7769,21,2,4,6,3,2,1,0,0,...,-1,1,1,-10.488371,39.027617,1,0,0,0,2
17,4226,24,2,4,3,1,1,1,0,1,...,-1,1,1,-3.180342,36.861238,1,1,1,0,3
18,6997,38,1,4,2,2,2,2,0,1,...,-1,4,4,-1.261826,30.678591,1,1,1,0,3
19,987,30,2,3,3,1,2,1,0,1,...,-1,1,1,-7.782641,35.665599,1,1,0,0,3
20,5576,27,2,1,3,1,2,2,0,1,...,-1,1,4,-4.614918,29.787609,1,1,0,0,3
21,2272,42,2,1,3,3,2,1,0,0,...,-1,1,4,-2.597419,32.913601,1,0,1,0,3
22,8277,44,1,1,1,3,2,2,0,1,...,-1,4,4,-10.918859,38.002656,1,1,0,0,3
23,3007,76,2,1,1,1,1,2,0,0,...,-1,4,4,-8.871831,34.955404,0,1,0,0,1
24,915,19,1,4,3,3,2,1,0,0,...,-1,1,4,-5.072699,38.454525,1,0,1,0,3
25,1335,29,2,1,3,5,2,2,0,0,...,-1,1,1,-7.774543,35.693376,1,1,1,0,3
26,1251,20,2,4,3,4,2,1,0,0,...,-1,1,3,-6.219971,39.232399,1,1,1,0,3
27,5036,26,2,2,3,5,2,1,1,0,...,-1,1,1,-1.324064,31.790627,1,1,1,0,3
28,599,44,2,2,3,5,2,1,0,0,...,-1,5,5,-3.352235,37.347386,1,1,1,1,3
29,794,32,2,4,2,5,2,1,0,1,...,-1,5,5,-6.819066,37.645532,1,1,1,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7064,5935,23,1,1,5,5,2,1,0,1,...,-1,1,1,-1.436048,34.590432,1,0,0,0,2
7065,6048,21,1,4,3,3,2,1,0,1,...,-1,1,4,-5.717025,38.235962,1,0,0,0,2
7066,3266,60,1,1,2,3,1,1,0,1,...,1,1,1,-3.396506,37.548062,1,1,1,0,3
7067,7714,21,2,1,3,5,2,1,0,0,...,-1,1,4,-4.909879,29.661688,1,0,0,0,2
7068,2462,29,1,4,3,5,1,1,0,0,...,-1,1,1,-3.356815,36.682422,1,1,0,0,3
7069,7261,38,2,1,2,3,2,2,0,1,...,-1,4,4,-6.178900,34.838594,0,1,0,0,1
7070,4741,31,2,2,2,5,2,2,0,1,...,-1,2,4,-4.200217,34.822235,0,1,0,1,1
7071,511,26,1,1,7,5,2,1,0,0,...,-1,1,1,-9.334476,34.767109,1,1,1,0,3
7072,1300,17,1,4,6,3,2,1,0,0,...,-1,1,1,-10.551712,39.787641,1,1,1,0,3
7073,5493,42,2,1,1,1,2,2,0,1,...,-1,4,4,-3.531386,32.060277,0,1,1,0,1
7074,9091,34,2,1,2,1,2,2,0,1,...,-1,1,4,-7.597877,36.995361,0,0,1,0,1
7075,9427,45,2,1,3,1,2,2,0,1,...,-1,1,4,-7.516838,39.224430,0,1,0,0,1
7076,7588,38,1,4,7,5,1,1,1,0,...,-1,1,1,-3.196350,34.414558,1,1,0,1,3
7077,5043,45,2,2,3,5,2,1,0,1,...,-1,1,4,-5.134800,34.771348,1,1,0,1,3
7078,917,26,1,4,6,5,2,1,0,1,...,5,1,1,-9.362728,34.783202,1,1,1,0,3
7079,6282,28,2,1,3,2,2,1,0,0,...,-1,1,1,-3.390990,36.763471,1,1,0,1,3
7080,2023,29,2,2,7,3,1,1,1,1,...,-1,1,1,-3.333758,36.639055,1,1,0,0,3
7081,8628,34,2,1,1,2,2,2,0,1,...,-1,4,4,-10.793401,38.319854,0,0,0,1,1
7082,4579,33,1,1,2,4,2,2,0,0,...,-1,1,4,-9.910713,38.994407,1,0,0,0,2
7083,7126,47,1,3,3,1,1,1,0,1,...,-1,1,2,-3.101801,37.592553,1,1,1,1,3
7084,9363,41,2,4,3,3,2,1,0,1,...,4,1,2,-6.823064,39.310909,1,1,1,0,3
7085,4860,36,2,2,3,5,2,1,0,1,...,1,1,1,-10.369741,38.759225,1,1,1,0,3
7086,24,24,1,1,3,4,2,1,0,1,...,-1,1,1,-6.616820,39.096398,1,1,0,0,3
7087,5546,25,1,1,4,1,2,1,0,1,...,-1,1,1,-1.329040,31.808420,1,1,1,0,3
7088,8738,65,1,1,3,3,1,1,0,1,...,-1,1,4,-3.031777,33.263513,0,1,0,0,1
7089,8378,57,2,3,3,1,2,2,0,1,...,-1,1,4,-5.811335,35.098103,0,1,0,0,1
7090,881,32,1,1,6,3,1,1,0,1,...,-1,1,1,-2.635156,32.945423,1,1,0,0,3
7091,6672,22,2,3,3,3,2,2,0,1,...,-1,4,4,-8.303729,31.059642,0,0,0,0,0
7092,5416,28,2,1,3,1,2,2,0,1,...,-1,1,4,-8.090712,35.836560,1,0,0,1,3
7093,3946,78,1,3,1,1,2,2,0,0,...,-1,4,4,-5.192204,38.764523,0,0,0,0,0

In [3]:
print(training.columns)

Index(['ID', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7', 'Q8_1', 'Q8_2', 'Q8_3',
       'Q8_4', 'Q8_5', 'Q8_6', 'Q8_7', 'Q8_8', 'Q8_9', 'Q8_10', 'Q8_11', 'Q9',
       'Q10', 'Q11', 'Q12', 'Q13', 'Q14', 'Q15', 'Q16', 'Q17', 'Q18', 'Q19',
       'Latitude', 'Longitude', 'mobile_money', 'savings', 'borrowing',
       'insurance', 'mobile_money_classification'],
      dtype='object')

In [4]:
print(training.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7094 entries, 0 to 7093
Data columns (total 37 columns):
ID                             7094 non-null int64
Q1                             7094 non-null int64
Q2                             7094 non-null int64
Q3                             7094 non-null int64
Q4                             7094 non-null int64
Q5                             7094 non-null int64
Q6                             7094 non-null int64
Q7                             7094 non-null int64
Q8_1                           7094 non-null int64
Q8_2                           7094 non-null int64
Q8_3                           7094 non-null int64
Q8_4                           7094 non-null int64
Q8_5                           7094 non-null int64
Q8_6                           7094 non-null int64
Q8_7                           7094 non-null int64
Q8_8                           7094 non-null int64
Q8_9                           7094 non-null int64
Q8_10                          7094 non-null int64
Q8_11                          7094 non-null int64
Q9                             7094 non-null int64
Q10                            7094 non-null int64
Q11                            7094 non-null int64
Q12                            7094 non-null int64
Q13                            7094 non-null int64
Q14                            7094 non-null int64
Q15                            7094 non-null int64
Q16                            7094 non-null int64
Q17                            7094 non-null int64
Q18                            7094 non-null int64
Q19                            7094 non-null int64
Latitude                       7094 non-null float64
Longitude                      7094 non-null float64
mobile_money                   7094 non-null int64
savings                        7094 non-null int64
borrowing                      7094 non-null int64
insurance                      7094 non-null int64
mobile_money_classification    7094 non-null int64
dtypes: float64(2), int64(35)
memory usage: 2.0 MB
None

There are no missing observations in the data set,all the values are valid

In [5]:
import scipy
from scipy import stats

In [7]:
training.sum(axis=1)

0       5228.350954
1       1373.068432
2        402.827096
3       6834.436258
4       8749.859450
5       5548.775411
6       4974.747158
7        712.517876
8       8425.677704
9       4805.735443
10      2845.194483
11      2622.976090
12      8937.989581
13      5531.213116
14      3630.029437
15      6655.561375
16      7846.539246
17      4321.680896
18      7094.416766
19      1071.882958
20      5659.172691
21      2372.316182
22      8379.083797
23      3127.083573
24       991.381826
25      1426.918833
26      1332.012428
27      5128.466563
28       726.995151
29       904.826467
           ...
7064    6018.154383
7065    6127.518937
7066    3382.151556
7067    7785.751809
7068    2554.325607
7069    7353.659694
7070    4829.622017
7071     591.432632
7072    1371.235929
7073    5591.528891
7074    9173.397484
7075    9523.707592
7076    7696.218207
7077    5151.636548
7078    1015.420474
7079    6362.372481
7080    2121.305296
7081    8711.526454
7082    4671.083694
7083    7237.490752
7084    9480.487846
7085    4955.389484
7086     109.479578
7087    5627.479380
7088    8852.231736
7089    8488.286768
7090     977.310267
7091    6742.755913
7092    5495.745849
7093    4075.572319
Length: 7094, dtype: float64

The sum of all values in all the rows

In [8]:
training.sum()

ID                             3.364420e+07
Q1                             2.712710e+05
Q2                             1.106600e+04
Q3                             1.268000e+04
Q4                             2.170800e+04
Q5                             1.808200e+04
Q6                             1.305700e+04
Q7                             9.917000e+03
Q8_1                           4.410000e+02
Q8_2                           4.470000e+03
Q8_3                           4.120000e+02
Q8_4                           2.393000e+03
Q8_5                           6.700000e+01
Q8_6                           3.400000e+01
Q8_7                           3.400000e+01
Q8_8                           1.310000e+02
Q8_9                           1.112000e+03
Q8_10                          4.100000e+02
Q8_11                          9.000000e+00
Q9                            -5.637000e+03
Q10                            6.215000e+03
Q11                           -4.910000e+03
Q12                            1.206500e+04
Q13                            2.892000e+03
Q14                            1.151100e+04
Q15                            5.399000e+03
Q16                            1.384400e+04
Q17                           -3.064000e+03
Q18                            1.319600e+04
Q19                            2.244100e+04
Latitude                      -4.280788e+04
Longitude                      2.508015e+05
mobile_money                   3.930000e+03
savings                        3.274000e+03
borrowing                      3.071000e+03
insurance                      1.073000e+03
mobile_money_classification    1.276400e+04
dtype: float64

total of each value inside each column

In [11]:
training.median()

ID                             4744.500000
Q1                               35.000000
Q2                                2.000000
Q3                                1.000000
Q4                                3.000000
Q5                                3.000000
Q6                                2.000000
Q7                                1.000000
Q8_1                              0.000000
Q8_2                              1.000000
Q8_3                              0.000000
Q8_4                              0.000000
Q8_5                              0.000000
Q8_6                              0.000000
Q8_7                              0.000000
Q8_8                              0.000000
Q8_9                              0.000000
Q8_10                             0.000000
Q8_11                             0.000000
Q9                               -1.000000
Q10                               1.000000
Q11                              -1.000000
Q12                               2.000000
Q13                              -1.000000
Q14                               2.000000
Q15                              -1.000000
Q16                               1.000000
Q17                              -1.000000
Q18                               1.000000
Q19                               4.000000
Latitude                         -6.087854
Longitude                        35.073326
mobile_money                      1.000000
savings                           0.000000
borrowing                         0.000000
insurance                         0.000000
mobile_money_classification       2.000000
dtype: float64

This is the middle value for each column in the data set

In [12]:
training.mean()

ID                             4742.627291
Q1                               38.239498
Q2                                1.559910
Q3                                1.787426
Q4                                3.060051
Q5                                2.548915
Q6                                1.840569
Q7                                1.397942
Q8_1                              0.062165
Q8_2                              0.630110
Q8_3                              0.058077
Q8_4                              0.337327
Q8_5                              0.009445
Q8_6                              0.004793
Q8_7                              0.004793
Q8_8                              0.018466
Q8_9                              0.156752
Q8_10                             0.057795
Q8_11                             0.001269
Q9                               -0.794615
Q10                               0.876092
Q11                              -0.692134
Q12                               1.700733
Q13                               0.407668
Q14                               1.622639
Q15                               0.761066
Q16                               1.951508
Q17                              -0.431914
Q18                               1.860164
Q19                               3.163378
Latitude                         -6.034378
Longitude                        35.354029
mobile_money                      0.553989
savings                           0.461517
borrowing                         0.432901
insurance                         0.151255
mobile_money_classification       1.799267
dtype: float64

The average for values in each column

In [13]:
training.max()

ID                             9459.000000
Q1                              100.000000
Q2                                2.000000
Q3                                4.000000
Q4                                8.000000
Q5                                6.000000
Q6                                2.000000
Q7                                2.000000
Q8_1                              1.000000
Q8_2                              1.000000
Q8_3                              1.000000
Q8_4                              1.000000
Q8_5                              1.000000
Q8_6                              1.000000
Q8_7                              1.000000
Q8_8                              1.000000
Q8_9                              1.000000
Q8_10                             1.000000
Q8_11                             1.000000
Q9                                7.000000
Q10                              10.000000
Q11                              12.000000
Q12                               2.000000
Q13                               6.000000
Q14                               2.000000
Q15                               6.000000
Q16                               5.000000
Q17                               5.000000
Q18                               5.000000
Q19                               5.000000
Latitude                         -1.084000
Longitude                        40.258744
mobile_money                      1.000000
savings                           1.000000
borrowing                         1.000000
insurance                         1.000000
mobile_money_classification       3.000000
dtype: float64

The max value for each variable in each column

In [14]:
ID = training.ID
ID.idxmax()

3214

index of the variable  where the max number was found

In [15]:
training.std()

ID                             2731.120086
Q1                               16.332148
Q2                                0.496433
Q3                                1.165160
Q4                                1.557779
Q5                                1.534257
Q6                                0.366103
Q7                                0.489508
Q8_1                              0.241472
Q8_2                              0.482809
Q8_3                              0.233906
Q8_4                              0.472831
Q8_5                              0.096730
Q8_6                              0.069069
Q8_7                              0.069069
Q8_8                              0.134640
Q8_9                              0.363593
Q8_10                             0.233372
Q8_11                             0.035598
Q9                                0.895007
Q10                               2.172787
Q11                               1.411600
Q12                               0.457969
Q13                               2.281322
Q14                               0.484761
Q15                               2.420599
Q16                               1.580819
Q17                               1.489879
Q18                               1.351372
Q19                               1.317691
Latitude                          2.720888
Longitude                         2.899511
mobile_money                      0.497112
savings                           0.498552
borrowing                         0.495512
insurance                         0.358322
mobile_money_classification       1.196955
dtype: float64

standard deviation for each variable in the dataframe

In [16]:
training.var()

ID                             7.459017e+06
Q1                             2.667391e+02
Q2                             2.464456e-01
Q3                             1.357597e+00
Q4                             2.426677e+00
Q5                             2.353944e+00
Q6                             1.340313e-01
Q7                             2.396179e-01
Q8_1                           5.830892e-02
Q8_2                           2.331043e-01
Q8_3                           5.471199e-02
Q8_4                           2.235691e-01
Q8_5                           9.356720e-03
Q8_6                           4.770484e-03
Q8_7                           4.770484e-03
Q8_8                           1.812786e-02
Q8_9                           1.321996e-01
Q8_10                          5.446270e-02
Q8_11                          1.267247e-03
Q9                             8.010368e-01
Q10                            4.721005e+00
Q11                            1.992615e+00
Q12                            2.097358e-01
Q13                            5.204430e+00
Q14                            2.349928e-01
Q15                            5.859299e+00
Q16                            2.498988e+00
Q17                            2.219740e+00
Q18                            1.826206e+00
Q19                            1.736310e+00
Latitude                       7.403229e+00
Longitude                      8.407162e+00
mobile_money                   2.471200e-01
savings                        2.485541e-01
borrowing                      2.455323e-01
insurance                      1.283947e-01
mobile_money_classification    1.432702e+00
dtype: float64

variance for each column in the dataframe

In [18]:
Q1 = training.Q1
Q1.value_counts()

30     312
25     260
35     247
40     232
32     229
22     226
28     224
23     216
20     200
27     197
26     189
24     187
45     187
29     176
34     160
18     158
21     151
38     142
36     142
19     140
50     139
17     138
42     134
31     128
33     127
37     125
16     119
43     117
60     114
47     104
      ...
72      31
67      26
78      23
69      22
76      21
73      19
82      18
74      17
71      17
77      15
85      14
90      12
79      12
81       8
88       7
83       6
100      5
86       5
84       3
87       3
98       3
91       2
94       2
95       2
99       1
92       1
96       1
89       1
93       1
97       1
Name: Q1, Length: 85, dtype: int64


The number of unique values within each variable

In [19]:
training.describe()

,ID,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8_1,Q8_2,...,Q17,Q18,Q19,Latitude,Longitude,mobile_money,savings,borrowing,insurance,mobile_money_classification
count,7094.000000,7094.000000,7094.000000,7094.000000,7094.000000,7094.000000,7094.000000,7094.000000,7094.000000,7094.000000,...,7094.000000,7094.000000,7094.000000,7094.000000,7094.000000,7094.000000,7094.000000,7094.000000,7094.000000,7094.000000
mean,4742.627291,38.239498,1.559910,1.787426,3.060051,2.548915,1.840569,1.397942,0.062165,0.630110,...,-0.431914,1.860164,3.163378,-6.034378,35.354029,0.553989,0.461517,0.432901,0.151255,1.799267
std,2731.120086,16.332148,0.496433,1.165160,1.557779,1.534257,0.366103,0.489508,0.241472,0.482809,...,1.489879,1.351372,1.317691,2.720888,2.899511,0.497112,0.498552,0.495512,0.358322,1.196955
min,1.000000,16.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,...,-1.000000,1.000000,1.000000,-11.467463,29.639578,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2397.250000,25.000000,1.000000,1.000000,2.000000,1.000000,2.000000,1.000000,0.000000,0.000000,...,-1.000000,1.000000,2.000000,-8.275387,32.935429,0.000000,0.000000,0.000000,0.000000,1.000000
50%,4744.500000,35.000000,2.000000,1.000000,3.000000,3.000000,2.000000,1.000000,0.000000,1.000000,...,-1.000000,1.000000,4.000000,-6.087854,35.073326,1.000000,0.000000,0.000000,0.000000,2.000000
75%,7105.000000,48.000000,2.000000,3.000000,3.000000,4.000000,2.000000,2.000000,0.000000,1.000000,...,-1.000000,4.000000,4.000000,-3.517053,38.351815,1.000000,1.000000,1.000000,0.000000,3.000000
max,9459.000000,100.000000,2.000000,4.000000,8.000000,6.000000,2.000000,2.000000,1.000000,1.000000,...,5.000000,5.000000,5.000000,-1.084000,40.258744,1.000000,1.000000,1.000000,1.000000,3.000000

a full statistical description of each variable

In [22]:
from pylab import rcParams
import seaborn as sb
from scipy.stats.stats import pearsonr

In [24]:
%matplotlib inline
rcParams['figure.figsize'] = 5,4
sb.set_style('whitegrid')